<img id="burgerPic" src="../assets/img/burger.jpg" alt="burger" />
<h1>Eat-Da-Burger!</h1>


<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Burgers</h3>
        </div>

        <div class="panel-body">
            {{#each result}}
            {{#if this.devoured}}
            <ul>
                <div class="list">
                    <li>{{ burger_name }}</li>
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                    <button class="btn btn-default" type="submit"> DEVOUR IT!</button>
                    </form>
                </div>
            </ul>
            {{/if}}

            {{/each}}



            <h2>Add a burger</h2>

            <form action="/add?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="ca">Burger:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <button class="btn btn-default" type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Devoured</h3>
        </div>

        <div class="panel-body">
            {{#each result}}
            {{#unless this.devoured}}
            <ul>
                    <div class="list">
                        <li>{{burger_name}}</li>
                    </div>
            </ul>
            {{/unless}}
            {{/each}}

        </div>
    </div>
</div>